.pageColor {

    overflow: hidden;
    background-image:url("assets/homePhoto.jpeg");

}

.home-photo {

    background-image:url("assets/homePhoto.jpeg");
    width:100%;
    height:100%;

}

.home-container{

    margin-top:50px;  
    opacity:0.8;
}

