



<main class="container bg-light mt-5 p-4">

        
        <!--Top messages bar- search, filters, and new message button  -->
      
        <div class="container">
      
          <!-- new message button -->
          <div class="row ">
      
            <div class="col-sm-2  my-auto  ">
              <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#newTenant">
                <i class="fas fa-plus "></i>
                <span class="m-auto p-auto">Add Tenant</span>
              </button>
            </div>

            <p class="mr-3 my-auto ">{{users.length}} Tenants</p>


            <!-- search bar  -->
            <div class="col-sm-6 my-auto ml-auto ">
              <input class=" col-12" type="text" placeholder="Search.." id="search" ng-model="searchStr">
            </div>
      
          </div>
        </div>
      
        <hr>
      
      
      
      
      
        <!-- All and Critical button navigators  -->
      
        <!-- Nav tabs -->
        <div class="container row ">
          <div class="col-sm-8">
            <ul class="nav nav-tabs">
              
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#!/users" ng-click="priorityFilter='' ">
                  All </a> 
      
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#!/users" ng-click="alphabetFilter='A' ">
                  A </a> 
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#!/users" ng-click="alphabetFilter='B' ">
                  B</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#!/users" ng-click="alphabetFilter='C' ">
                 C </a> 
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#!/users" ng-click="alphabetFilter='D' ">
                  D </a>
              </li>

            </ul>
          </div>
          
      
        </div>
      
      
      
      
      
      

  



<!-- USERS DISPLAY AREA -->


<div id="accordion ">
    
    <div class="card " ng-repeat="user in users | filter: searchStr " data-toggle="collapse" data-target="#{{$index}}" aria-expanded="true" aria-controls="collapseOne">
      <div class="card-header cursor-hand row" id="headingOne">
        <!-- user photo -->
        <div class="col-sm-1">
          <img class="img-fluid" style="height:50px" src="{{user.img}}">
        </div>


        <!-- user name -->
        <div class="col-sm-4">
            <div>
              <h6 class="mb-0 "> {{user.fname}} {{user.lname}}</h6>
            </div>
            
            <div>
                <p> Role: {{user.role}}</p>  
            </div>
            
        </div>    

        <!-- appartment and building -->
          <div class="col-sm-4 ml-auto ">
            <div class="row ml-auto">   

              <p class="m-3">Appatment</p>
              <h1 >{{user.appartment}}</h1>
            
              <p class="m-3">Building </p>
              <h1>{{user.building}}</h1>
            </div>
          </div>

          <!-- tenant id  -->

          <div class="col-sm-3">
            <div class="row">
              <p class="m-3"> ID </p>
              <h1 class="text-primary"> {{user.id}} </h1>
            </div>  
          </div>

      </div>

      





<!--accordion body-->
        
      
     
  
      <div id="{{$index}}" class="collapse "  aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body row " >
          <!-- tenant image -->
          <div class="col-sm-2">
            <img class=" img-fluid img-thumbnail float-left " src="{{user.img}}">
          </div>
          <div class="col-sm-2 border">
            <h5 class="text-primary">{{user.fname}} {{user.lname}}</h5>
            <p class="m-0 mt-2">Role:{{user.role}}</p>
            <p class="m-0">ID: {{user.id}}</p>
          </div>
          <div class="col-sm-4 border ml-3">
            <h5>Tenant Details</h5>
            <a class="m-0 mt-2" href="#">eMail: {{user.email}}</a>
            <p class="m-0">Building: {{user.building}} </p>
            <p class="m-0">Appartment: {{user.appartment}}</p>
          </div>
          <!-- delete and update buttons  -->
          <div class="col-sm-2 my-auto">
            <button type="btn" class="btn btn-primary" ng-click="delete(user)"><i class="far fa-trash-alt"></i> Delete Tenant</button>
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal" ng-click="update(user)">Update</button> -->
          </div>


        </div>
      </div>
      
      
    </div>
    
  </div>


</div>

</main>





<!--New Tenant Modal-->


    
  <!-- The Modal -->
  <div class="modal fade" id="newTenant">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
  



        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">New Tenant</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  



        <!-- Modal body -->
        <div class="modal-body ">
            
          
            <!-- photo upload  -->
            <div class="photoUpload container ">
              <div class="px-auto">
                <div class="">
                   <img  ng-src="{{user.img}}"  style="max-width:250px;" >
                </div>
                                          
                <!-- Upload Photo: <input type="file" name="img class="fas fa-camera"><input type="submit"> -->
                <div class="mt-3 custom-file" id="imgUpload" >
                    <input type="file" value="Browse" fileread="user.img" name="img" >                   
                </div>
              </div>
            </div>
            


            
            <!-- form inputs -->
            <div class="inputs mt-3">
              <form>

                  <div class="form-group">
                      <select class="custom-select" ng-model="user.role">
                          <option value="tenant">Tenant</option>
                          <option value="owner">Owner</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="fname" ng-model="user.fname" placeholder="First name">
                  </div>
              
                  <div class="form-group">
                      <input type="text" class="form-control" id="fname" ng-model="user.lname" placeholder="Last name">
                  </div>             
                  
                  <div class="row">  
                  
                    <div class="col-sm-6 form-group ">
                        <input type="email" class="form-control" id="email1" ng-model="user.email" placeholder="eMail">
                    </div>
                    <div class=" col-sm-6 form-group ">
                        <input type="password" class="form-control" id="pwd3" ng-model="user.password" placeholder="Password">
                    </div>  

                  </div>  
                  
                  <div class="row"> 
                    <div class="col-sm-6 form-group">
                        <input type="number" class="form-control" id="building" ng-model="user.building" placeholder="Building No.">
                    </div> 
                    <div class="col-sm-6 form-group">
                        <input type="number" class="form-control" id="appartment" ng-model="user.appartment" placeholder="Appartment No.">
                    </div>   
                  </div>      

              </form>

            </div>
        




          
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer ">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="newTenant(user)">Create</button>
        </div>
  
      </div>
    </div>
  </div>