
<!-- new tenant button -->
<button type="button" class="btn btn-primary col-sm-2" data-toggle="modal" data-target="#newTenant">
    New Tenant
</button>

<!-- searchfield -->
<div class="container col-12"> 
    
    <div class="form-group has-feedback container">
        <label class="control-label" for="inputSuccess2"></label>
        <input type="search" class="form-control" id="inputSuccess2"/>
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>



<!-- users display area  -->

<div id="accordion" class="container mt-5">
    
          <div class="card" ng-repeat="user in users">
            <div class="card-header" id="headingOne">
              
                <!-- accordion title -->
              <h5 class="mb-0">
    
                <button class="btn btn-link" data-toggle="collapse" data-target="#{{$index}}" aria-expanded="true" aria-controls="collapseOne">
                  {{user.fname}} {{user.lname}}
                </button>
                <h6 class="float-right"> ID: {{user.id}} Role: {{user.role}}</h6>
                

              </h5>
              
              <!--accordion body-->
              
            </div>
        
            <div id="{{$index}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body row">
                <!-- tenant image -->
                <div class="col-sm-2">
                  <img class=" img-fluid img-thumbnail float-left " src="{{user.img}}">
                </div>
                <div class="col-sm-4">
                  <h5 class="text-primary">{{user.fname}} {{user.lname}}</h5>
                  <a href="#">eMail: {{user.email}}</a>
                  <p>Building: {{user.building}} Appartment: {{user.appartment}}</p>
                  <p>Appartment: {{user.appartment}}</p>
                </div>
                <!-- delete and update buttons  -->
                <div class="col-sm-2 float-right">
                  <button type="btn" class="btn btn-primary" ng-click="delete(message)">Delete</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">Update</button>
                </div>


              </div>
            </div>
            
            
          </div>
          
        </div>
    
    
      </div>
    

<!--New Tenant Modal-->

<!-- The Modal -->
<div class="modal fade" id="newTenant">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">New Tenant</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          
            <form class="message container bg-light">
                
              <!-- photo preview-->
              <div class="col-sm-6">
                <div class="col-sm-6">
                  <img ng-src="{{user.img}}" class="img-fluid" >
                </div>
              <div>
                    
              <!-- Upload Photo: <input type="file" name="img class="fas fa-camera"><input type="submit"> -->
                <div class="col-sm-6 custom-file" id="imgUpload" >
                    <input type="file" value="Browse" fileread="user.img" name="img" >                    
                </div>
                    
                    
                </div>
                
              </div>

              <!-- inputs  -->
              <div class="col-sm-6 float-right">
              
                  <div class="form-group">
                          <label for="fname">First name</label>
                          <input type="text" class="form-control" id="fname" ng-model="user.fname">
                  </div>
                  
                  <div class="form-group">
                      <label for="fname">Last name</label>
                      <input type="text" class="form-control" id="fname" ng-model="user.lname">
                  </div>             
                  
                  <div class="form-group">
                      <label for="email">eMail</label>
                      <input type="email" class="form-control" id="email" ng-model="user.email">
                  </div> 
                  
                  <div class="row"> 
                    <div class="col-sm-6 form-group">
                        <label for="building">Building</label>
                        <input type="number" class="form-control" id="building" ng-model="user.building">
                    </div> 
                    <div class="col-sm-6 form-group">
                        <label for="appartment">Appartment</label>
                        <input type="number" class="form-control" id="appartment" ng-model="user.appartment">
                    </div>   
                  </div>      

            </div>    
            
            </form>


        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="newTenant(user)">Create</button>
        </div>
  
      </div>
    </div>
  </div>  
  
