<main class="container bg-light mt-5 p-4">



  <!--Top messages bar- search, filters, and new message button  -->

  <div class="container">

    <!-- new message button -->
    <div class="row ">

      <div class="col-sm-2  my-auto"  ng-if="activeUser.role=='owner'">
        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#NewMessageModal">
          <i class="fas fa-plus "></i>
          <span class="m-auto p-auto" >New Message</span>
        </button>
      </div>
      <!-- search bar  -->
      <div class="col-sm-6 my-auto ml-auto ">
        <input class=" col-12" type="text" placeholder="Search.." id="search" ng-model="searchStr">
      </div>

    </div>
  </div>

  <hr>





  <!-- All and Critical button navigators  -->

  <!-- Nav tabs -->
  <div class="container row ">
    <div class="col-sm-8">
      <ul class="nav nav-tabs">
        
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#!/messages" ng-click="priorityFilter='' ">
            All <span ng-show="counter()" ng-hide="counter.all==0" class="badge badge-danger">{{counter.all}}</span></a> 

        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#!/messages" ng-click="priorityFilter='Critical' ">
            Critical <span ng-show="counter()" ng-hide="counter.critical==0" class="badge badge-warning">{{counter.critical}}</span></a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#!/messages" ng-click="priorityFilter='High' ">
            High <span ng-show="counter()" ng-hide="counter.high==0" class="badge badge-light">({{counter.high}})</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#!/messages" ng-click="priorityFilter='Medium' ">
           Medium <span ng-show="counter()" ng-hide="counter.medium==0" class="badge badge-light">({{counter.medium}})</span></a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#!/messages" ng-click="priorityFilter='Low' ">
            Low <span ng-show="counter()" ng-hide="counter.low==0" class="badge badge-light">({{counter.low}})</span></a>
        </li>
      </ul>
    </div>
    <!-- sorting messages by date, name,  -->
    <div class="col-sm-4 ml-auto ">
      <div class="dropdown ">
        <div class="btn-group">
          <p class="mr-3 my-auto ">sort by:</p>
          <button type="button" class="btn " ng-click="sortParam=''">All</button>
          <button type="button" class="btn " ng-click="sortParam='createdAt'">Time</button>
          <button type="button" class="btn " ng-click="sortParam='createdBy'">Name</button>
        </div>
      </div>
    </div>

  </div>










  <!-- messages Display Area -->

  <div class="bg-light mt-3">


    <div id="accordion">

      <div class="card "  ng-click="isRead(message)" ng-class="{unread: message.isRead==false}"  ng-repeat="message in messages | filter: searchStr |filter: {priority: priorityFilter} | orderBy: sortParam ">
        <div class="card-header"  id="headingOne" data-toggle="collapse" data-target="#{{$index}}">

          <div class="row" >

            <!-- Author photo -->
            <div class="col-sm-1 ">
              
              <div class="author-photo">
                <img class="img-fluid" ng-show="userImg(message)" src="{{message.authorPhoto}}">
              </div>
            </div>
            <!-- Author name -->
            <div class="my-auto col-sm-2">
              <div >{{message.createdBy}} </div>
            </div>

            <!-- messages title -->
            <div class="my-auto col-sm-5 ">
              <h6 class=""> {{message.title}} </h6>
            </div>



            <!-- creation date and time -->
            <div class="col-sm-2 ml-auto">
              <!-- Creation Date -->
              <div>
                <p>{{message.createdAt|date:'dd/MM/yyyy'}}</p>
              </div>
              <!-- creation hour -->
              <div>
                <p>{{message.createdAt|date:'HH:mm:ss'}}</p>
              </div>
            </div>

            <!-- message comments number and icon -->
            <div class="col-sm-1 my-auto">

              <p class="badge ">{{message.comments.length}}</p>
              <i class="fas fa-comments fa-2x"></i>

            </div>
            <!-- priority icon -->
            <div class=" col-sm-1 p-auto m-auto">
              <i ng-show="message.priority=='High' || message.priority=='Medium' || message.priority=='Low' " class="text-primary fas fa-info fa-2x"></i>
              <i ng-show="message.priority=='Critical' " class="text-danger fas fa-exclamation fa-2x"></i>
            </div>

          </div>

        </div>

        <!--message Body  -->

        <div id="{{$index}}" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body row">
            <!-- message text (details) -->

            <div class="col-sm-6">

              <div>
                <div>
                  <h6>
                    <i class="mr-1 fas fa-info"></i> Message Details</h6>
                </div>
                <hr>

                <p>{{message.details}}</p>
                <p><small>Priority:{{message.priority}}</small></p>
              </div>

              <div>
                <!-- Creation Date -->
                <div>
                  <p><small>Created At: {{message.createdAt|date:'dd/MM/yyyy'}}</small></p>
                </div>
                <!-- creation hour -->
                <div>
                  <p><small>Time: {{message.createdAt|date:'HH:mm:ss'}}</small></p>
                </div>
              </div>

            
            <!-- delete and update buttons  -->
            <div class="mt-auto" ng-if="activeUser.role=='owner'">
                <button type="btn" class="btn btn-primary" ng-click="delete(message)">
                    <i class="far fa-trash-alt"></i></button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal" ng-click="">
                    <i class="far fa-edit"></i></button>
            </div>
            
            
            
            </div>
            <!-- creation date and time -->





            <!-- message comments section -->


            <div class="col-sm-6 position-relative">
              <!-- comment area  header -->
              <div class="row">
                <h6>
                  <i class="mr-1 fas fa-comments"></i> Comments
                  <span class="badge badge-warning">{{message.comments.length}}</span>
                </h6>
              </div>

              <hr>
              <!-- comment details -->
              <div>
                <div class=" m-1" ng-repeat="comment in message.comments">
                  <!-- comment title  -->
                  <div class="container row">
                    <img ng-show="commentUserImg(comment)" class="comment-author" src="{{comment.authorPhotoComment}}">
                    <h6>{{comment.createdBy}}</h6>
                    <time class="ml-auto" > {{comment.createdAt|date:'HH:mm:ss'}}</time>
                  </div>
                  <!-- comment posting hour  -->
                  <div>
                    <time>{{comment.createdAt|date:'dd/MM/yyyy'}}</time>
                  </div>
                  <!-- comment text and details  -->
                  <div>
                    <p>{{comment.text}}</p>
                  </div>
                </div>
              </div>
              <!-- comments input -->
              <form  ng-submit="newComment(message,text); text=''" class="container mt-auto">
                <div class="row">
                  <input class="col-8" type="text" ng-model="text" id="t1" placeholder="Write a comment..">
                  <button type="button" class="btn btn-primary" ng-click="newComment(message,text); text=''">Comment</button>
                </div>
              </form>  
            </div>

            

          </div>
        </div>


      </div>

    </div>


  </div>


</main>

<hr>


<!-- modal screens  -->

<!--New message modal dialog -->



<!-- The Modal -->
<div class="modal fade" id="NewMessageModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <img class="img-fluid" style="max-width:50px;" src="{{activeUser.img}}">
        <h4 class="ml-3 modal-title my-auto text-primary">New Message</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <form ng-submit="msgSubmit(message)" class="message container bg-light">

          <div class="form-group">
            <label for="messageTitle">Message Title</label>
            <input type="text" class="form-control" id="messageTitle" ng-model="message.title">
          </div>

          <div class="form-group">
            <label for="messageDetails">Message Details</label>
            <textarea class="form-control" rows="5" id="messageDetails" ng-model="message.details"></textarea>
          </div>

          <div class="form-group">
            <label for="sel1">Priority:</label>
            <select class="form-control" id="sel1" ng-model="message.priority">
              <option>Low</option>
              <option>Medium</option>
              <option>High</option>
              <option>Critical</option>
            </select>
          </div>

          
        </form>


      </div>


      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="msgSubmit(message)">Submit</button>
      </div>

    </div>
  </div>
</div>






<!-- update message dialog  -->


<!-- The Modal -->
<div class="modal fade" id="updateModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update Message </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <form class="message container bg-light">

          <div class="form-group">
            <label for="messageTitle">Message Title</label>
            <input type="text" class="form-control" id="messageTitle" ng-model="message.title">
          </div>

          <div class="form-group">
            <label for="messageDetails">Message Details</label>
            <textarea class="form-control" rows="5" id="messageDetails" ng-model="message.details"></textarea>
          </div>

          <div class="form-group">
            <label for="sel1">Priority:</label>
            <select class="form-control" id="sel1" ng-model="message.priority">
              <option>Low</option>
              <option>Medium</option>
              <option>High</option>
              <option>Critical</option>
            </select>
          </div>

          
        </form>


      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="update(message)">Update</button>
      </div>

    </div>
  </div>
</div>