

    


<div class="container mt-5 bg-light">
<h1> Messages</h1>

 <!--Top messages bar- search, filters, and new message button  -->

    <div class="bg-secondary row">

      <!-- new message button -->
        
          <button type="button" class="btn btn-primary col-sm-2" data-toggle="modal" data-target="#NewMessageModal">
              New Message
          </button>
        
      <!-- search bar  -->
          <div class="col-sm-6 search-container">
              <form>
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
          </div>
        
          <!-- filter by priority -->
          <div class="form-inline col-sm-2">
              <label for="sel1">Priority:</label>
              <select class="form-control" id="sel1" ng-model="message.priority">
                <option>Low</option>  
                <option>Medium</option>
                <option>High</option>
                <option>Critical</option>
              </select>
           
          </div> 

        <!-- sort by  -->

        <div class="dropdown col-sm-2">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Sort Messages
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Date</a>
              <a class="dropdown-item" href="#">Priority</a>
            </div>
        </div> 
          
    </div>    


    
<!-- messages Display Area -->
    <div id="accordion">

      <div class="card" ng-repeat="message in messages">
        <div class="card-header" id="headingOne">
          
          <h5 class="mb-0">

            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{message.title}}
            </button>
            <!-- delete and update buttons  -->
            <div class="float-right">
            <button type="btn" class="btn btn-primary" ng-click="delete(message)">Delete</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">
              Update
            </button>
            </div>

          </h5>
          
          <div>Priority:
            {{message.priority}}
          </div>
          <div>Created By:
              {{message.createdBy}}
          </div>
          <div>Created At:
              {{message.createdAt}} 
          </div>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            {{message.details}}
          </div>
        </div>
        
        
      </div>
      
    </div>


  </div>




  

  
  
 