
<!--Jumbotron -->
<div class="position-absolute home-photo">
    
    <div class="jumbotron container home-container">

    <div class="row">
        <div class="col-sm-4 border bg-white ml-4">
            <div class="mt-3 text-center"><h4>Sign In</h4></div>

            <!-- login form -->
            <form ng-submit="checkUser(email,pwd)" class="container mt-4">
                        
                <div class="alert alert-danger "  ng-show="invalidCredentails">
                  <strong>Try Again</strong> The eMail and Password you entered are incorrect. 
                </div>
              
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" ng-focus="invalidCredentails=false" ng-model="email">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" ng-focus="invalidCredentails=false" ng-model="pwd" >
                  </div>
                   
                  <button type="submit" class="btn btn-primary" ng-click="checkUser(email,pwd)" >Login</button>
              
              </form> 
        </div>
        
        <div class="col-sm-7 bg-white ml-5">
            <h2 class="m-3">Everything you need for Community Management</h2> 
            <h5 class="m-5">It doesn’t matter if you manage one or multiple Communities, Tenants-Link Building Community Manager has you covered.</h5>
            
            <!-- signup button for homeowners  -->
              <button type="button" class="mb-5 mr-5 float-right btn btn-success" data-toggle="modal" data-target="#signUp">
                  Home Owners Sign-Up
              </button>
    
        </div>
    </div>
    </div>




<!--explanation tiles  -->
    <div class="container mt-5">
    <div class="row ">
        
            
            <div class=" col-sm-4 ">
               <div class="bg-light p-1"> 
                    <h5 class="row m-3 text-dark"> Communicate </h5>    
                    <div class="row m-3">      
                        <div class="col-6"><i class="far fa-comments fa-5x"></i></div> 
                        <p class="col-6">Communicating with members by email, social media, telephone or post.</p>          
                    </div>
              </div>                    
            </div>

            <div class=" col-sm-4 ">
                <div class="bg-light p-1">
                    <h5 class="row m-3 text-dark"> RUBS & Bulk Tenant Charges </h5>    
                    <div class="row m-3">      
                        <div class="col-6"><i class="far fa-credit-card fa-5x"></i></div> 
                        <p class="col-6">Simply set up allocations one time and enter utility charges each month.</p>          
                    </div>
                </div>
            </div>

            <div class=" col-sm-4 ">
                <div class="bg-light p-1">
                    <h5 class="row m-3 text-dark"> Tenants Management </h5>    
                    <div class="row m-3">      
                        <div class="col-6"><i class="fas fa-user fa-5x"></i></div> 
                        <p class="col-6">Manage your building quickly and efficiently anywhere with any device </p>          
                    </div>
                </div>      
            </div>
          
    </div>
</div>    


    
</div>    








<!-- homeowners signup dialog -->

<!-- The Modal -->
<div class="modal fade" id="signUp">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-primary"><i class="fas fa-sign-in-alt"></i> Home Owner SignUp</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      
      <!-- Modal body -->
      <div class="modal-body ">
                
              
          <!-- photo upload  -->
          <div class="photoUpload container ">
            <div class="px-auto">
              <div class="">
                <img  ng-src="{{user.img}}"  style="max-width:150px;" >
              </div>
                                        
              <!-- Upload Photo: <input type="file" name="img class="fas fa-camera"><input type="submit"> -->
              <div class="mt-3 custom-file" id="imgUpload" >
                  <input type="file" value="Browse" fileread="user.img" name="img" >                   
              </div>
            </div>
          </div>
      


      
          <!-- form inputs -->
          <div class="inputs mt-3">
            <form ng-submit="newOwner(user)">    
                <div class="row">
                    <div class="form-group col-sm-6">
                            <label for="fname">Owner First name</label>
                            <input type="text" class="form-control" id="fname" ng-model="user.fname">
                    </div>
                    
                    <div class="form-group col-sm-6">
                        <label for="lname">Owner Last name</label>
                        <input type="text" class="form-control" id="lname" ng-model="user.lname">
                    </div>             
                </div>
                <div class="row">
                    <div class="form-group col-sm-6"> 
                        <label for="email2">eMail</label>
                        <input type="email" class="form-control" id="email2" ng-model="user.email">
                    </div> 
                    
                    <div class="form-group col-sm-6">
                        <label for="pwd2">Password:</label>
                        <input type="password" class="form-control" id="pwd2" ng-model="user.password">
                    </div>
                </div>    
                <div class="row"> 
                  <div class="col-sm-6 form-group">
                      <label for="building">Building</label>
                      <input type="number" class="form-control" id="building" ng-model="user.building">
                  </div> 

                  <div class="col-sm-6 form-group">
                    <label for="community">Community Name</label>
                    <input type="text" class="form-control" id="community" ng-model="user.communityName">
                  </div>   
                </div>  


                <div class="row"> 
                  <div class="col-sm-6 form-group">
                      <label for="address">Community Address</label>
                      <textarea class="form-control" rows="5" id="address" ng-model="user.address"></textarea>
                </div> 

              
                

            </form>
          </div>






      </div>

      

          
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="newOwner(user)" >Create</button>
      </div>

    </div>
  </div>
</div>  









